name: Events Demo 1
on:
  pull_request:
    types: [opened]
  workflow_dispatch:
jobs:
  demo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{ toJson(github.event) }}"
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
      - name: Build project
        run: npm run build
      - name: Deploy to Server
        run: |
          echo "Deploying project..."
      - name: Show pushed branch
        if: github.event_name == 'push'
        run: echo "Pushed branch is ${{ github.ref }}"
